:root {
  --blue: #0073e6;
  --indigo: #554dff;
  --purple: #9e99ff;
  --pink: #ffb3bf;
  --red: #be2816;
  --orange: #f90;
  --yellow: #ffda73;
  --green: #00cc85;
  --teal: #0bd9d2;
  --cyan: #00fff7;
  --white: #fff;
  --gray: #656566;
  --gray-dark: #323333;
  --italia: #06c;
  --gray-secondary: #5c6f82;
  --gray-tertiary: #5a768a;
  --gray-quaternary: #fcfdff;
  --primary: #0073e6;
  --secondary: #5c6f82;
  --success: #00cc85;
  --info: #979899;
  --warning: #f90;
  --danger: var(--red);
  --light: #e9e6f2;
  --dark: #17324d;
  --text-primary: #596771;
  --100: #e3e4e6;
  --200: #cacacc;
  --300: #b1b1b3;
  --400: #979899;
  --500: #7e7f80;
  --600: #656566;
  --700: #4c4c4d;
  --800: #323333;
  --900: #19191a;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: 'Titillium Web', Geneva, Tahoma, sans-serif;
  --font-family-monospace: 'Roboto Mono', monospace;
}
